.heading{
   height: 200px;
   background-color: rgb(43, 33, 8);
}
.heading h1{
   text-align: center;
   padding-top: 5%;
   color: wheat;
}
form{
   text-align: center;
   margin-top: 30px;
}
input{
   width: 350px;
   height: 34px;
}
.submit{
   height: 30px;
   background-color: rgb(32, 118, 42);
   color: white;
}
.myTodoItems{
   width: 40%;
   background-color: #373232;
   margin: 10px auto;
   border: 2px solid black;
}